<style>
  .navbar{
    width: 4rem;
    position: absolute;
    left: 95%;
  }
  .menu{
    background-color: aliceblue;
  }
  
  .offcanvas{
    background-color: rgb(9, 11, 11);
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    font-weight:  200;
    --bs-offcanvas-width: 280px;
  }
  .offcanvas-title{
    color: rgb(19, 146, 19);

  }
  .nav-link {
     color: aliceblue !important;
  }
</style>

<nav class="navbar fixed-top ">
  
      <button class="navbar-toggler menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <li>
          <hr class="dropdown-divider">
        </li>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://tinylinkbysuzzit6.onrender.com/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://tinylinkbysuzzit6.onrender.com/signup">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://tinylinkbysuzzit6.onrender.com/login">Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Socials
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://github.com/Suzzit6/TinyLink">Src Code</a></li>
                <li><a class="dropdown-item" href="https://github.com/Suzzit6">GitHub</a></li>
                
                <li><a class="dropdown-item" href="https://www.linkedin.com/in/sujit-mishra-634971239/">Linkedin</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>