<style>
  .main-text{
    font-weight: 700 !important;
  }
  .nav-texts{
    color: white;
    font-weight: 500;
  }
    li{
        margin-left: 60px;
    }

</style>

<nav id="navbar-example2" class="navbar navbar-expand-lg bg-body-tertiary px-3" data-bs-theme="dark">

    <div class="container-fluid">
      <a class="navbar-brand main-text nav-texts" href="https://tinylinkbysuzzit6.onrender.com/welcome">TinyLink.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active nav-texts" aria-current="page" href="https://tinylinkbysuzzit6.onrender.com/">Home</a>
          </li>
          <% if (locals.user) { %>
            <li class="nav-item">
                <a class="nav-link nav-texts" href="#scrollspyHeading2">My Links</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-texts" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= user.name %>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item nav-texts" href="https://tinylinkbysuzzit6.onrender.com/logout">Logout</a></li>
                </ul>
              </li>
              <%  } else { %>
            <li class="nav-item">
                <a class="nav-link nav-texts" href="https://tinylinkbysuzzit6.onrender.com/signup"> SignUp </a>
              </li>
            <li class="nav-item">
                <a class="nav-link nav-texts" href="https://tinylinkbysuzzit6.onrender.com/login"> Login </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-texts" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Socials
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://github.com/Suzzit6/TinyLink">Src Code</a></li>
                    <li><a class="dropdown-item" href="https://github.com/Suzzit6">GitHub</a></li>
                    <li><a class="dropdown-item" href="https://www.linkedin.com/in/sujit-mishra-634971239/">Linkedin</a></li>
                </ul>
              </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>

