<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>

    <style>


body {
  min-height: 100vh;
  background-image: url(/images/landing-page.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
    color: aliceblue;
    font-size: 1.8rem;
    font-family: 'Trebuchet MS';
    font-weight: 700;
    margin-left: 30px;
}
.hero-text{
    position: absolute;
    top: 250px;
    left: 150px;
}
.welcome-text{
    color: aliceblue;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:  200;
}

.main-text{
    /* width: 800px; */
    color: aliceblue;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;

}
#getstarted {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#getstarted:hover,
#getstarted:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

</style>
<script>
    function redirectToPath(path) {
        window.location.href = path;
    }
</script>
<%- include('./partials/nav') %>
    <div class="logo mt-4">
     TinyLink.
    </div>
    <div class="hero-text">
        <div class="welcome-text">
            Welcome to TinyLink.
        </div>
        <div class="main-text">
            Generate and <br>
            Track Clicks of Your Short URLs
        </div>
          <button id="getstarted" class="mt-3" onclick="redirectToPath('/signup')" > Get Started </button>
    </div>
    <%- include('./partials/script') %>
</body>
</html>

 